h1{
  padding-top: 10px;
  margin-left: 20px;
  float: left;
  font-family: 'sans-serif',cursive;
  color: #ff0000
}

body,html{
  font-family: 'serif';
}
header{
  position: sticky;
  margin: 0;
  height: 70px;
  background-color: #282828; 

}
span{
  color: #ffffff
}
nav.navbar.navbar-default{
  padding-top: 10px;
}
nav{
  float: right;
}
li{
  display: inline; 
}

#box-container{
  font-size: 0.5cm;
  background-color: white;
  height: 285px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}
a.btn{
  color: rgb(255, 0, 0);
  background-color: transparent;
  padding: 5px;
  font-size: 0.5cm;
  margin: 5px;
}
.a{
  text-decoration: none;
}
a:hover{
  background-color: orange;
  transition: 0.5s;
}
